.pages {
	display: flex;
	gap: 10px;
	margin: 20px 0;
}
.page {
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 8px;
	cursor: pointer;
	background-color: #474747;
	transition: 0.3s;
	&:hover {
		box-shadow: 0px 0px 14px 0px #646464;
		background-color: #646464;
	}
	&_active {
		background-color: #7a7a7a;
	}
}
